/*
CONTENT: es el contenido del elemento, por ejemplo un texto u otros elementos

PADDING: es un margen interno entre el borde y el contenido, 
podemos establecer diferentes valores para la parte superior, inferior, izquierda y derecha

BORDER: es el borde de la caja y se le pueden aplicar diferentes estilo

MARGIN: es el margen externo de la caja, podemos establecer diferentes valores 
para la parte superior, inferior, izquierda y derecha */

h1 {
	color: salmon;
}

p {
	color: black;
}

.subtitulo {
	color: black;
	background-color: rgb(231, 82, 95);
}

img {
	max-width: 100%;
}

.biografia {
	max-width: 500px;
	max-height: 500px;
	overflow: scroll;
	/*border: 1px solid salmon;*/

	border-style: double;
	/* border-bottom-style: dotted;
	border-left-style: groove;
	border-right-style: double;
  border-top-style: dashed;*/

	border-color: salmon;
	/*border-top-color: sandybrown;
	border-bottom-color: sandybrown;
	border-right-color: salmon;
	border-left-color: salmon;*/

	border-width: 5px 1px 1px 5px; /* arriba, derecha, abajo, izquierda*/

	/*border-top-width: ;
  border-bottom-width: ;
  border-left-width: ;
  border-right-width: ; */

	padding: 10px 20px 10px 20px; /* top right bottom left */
	/* padding: 10px 20px; */

	/* padding-top: ;
  padding-left: ;
  padding-right: ;
  padding-bottom: ;
  */

	margin: 20px;

	/* margin-top: ;
  margin-bottom: ;
  margin-left: ;
  margin-right: ; */
}
